:root {
    --text-color: Black;
    --background-color: white;
    --base-variant: #ffffff;
    --primary-color: #000000;
    --border-color: #D3D3D3;
}

.darkmode {
    --text-color: white;
    --background-color: #121212;
    --base-variant: #000000;
    --primary-color: #ffffff;
    --border-color: #515151;
}

html, body {
    height: 100%; /* Ensure full height for both html and body */
    margin: 0;    /* Remove any default margin */
    padding: 0;
    color: var(--text-color); /* Use text color variable */
    background-color: var(--background-color); /* Use background color variable */
    transition: background-color 1s ease, color 1s ease; /* Add transition */
}

body { /* Defines the appearance of the body */
    font-family: 'Comic Sans Ms', cursive;
    text-align: center;
    transition: background-color 1s ease, color 1s ease; /* Add transition */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    color: var(--text-color); /* Use text color variable */
    transition: background-color 1s ease, color 1s ease; /* Add transition */
}

h1 {
    margin-bottom: 20px;
    color: var(--text-color); /* Use text color variable */
    transition: background-color 1s ease, color 1s ease; /* Add transition */
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 200px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    transition: background-color 1s ease, color 1s ease, border-color 1s ease; /* Add transition */
}

.button {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 1s ease, color 1s ease; /* Add transition */
}

.button:hover {
    background-color: var(--text-color);
    color: var(--base-variant);
    transition: background-color 1s ease, color 1s ease; /* Add transition */
}

.error-container {
    height: 20px; /* Reserve fixed space for the error message */
    margin-top: 10px; /* Margin for spacing */
}

.error-message {
    color: red;
    font-weight: bold;
    height: 100%; /* Ensure the message takes up the reserved height */
}

form {
    margin-bottom: 20px;
}

a {
    position: absolute;
    right: 100px;
    top: 35px;
    color: var(--text-color);
}

#theme-switch {
    height: 50px; /* Ensuring enough height */
    width: 50px; /* Ensuring enough width */
    border-radius: 50%;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10px;
    right: 10px;
    overflow: hidden;
    box-sizing: border-box; /* Include padding and border in total size */
    outline: none; /* Remove the focus outline */
    border: none; /* Ensure no border is causing the ring */
    padding: 0; /* Ensure no padding is added */
    margin: 0; /* Ensure no margin is added */
    transition: background-color 1s ease, fill 1s ease; /* Add transition */
}

#theme-switch svg {
    fill: var(--primary-color);
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    transition: fill 1s ease; /* Add transition */
}

#theme-switch:focus,
#theme-switch:active,
#theme-switch:hover {
    outline: none; /* Remove the focus outline */
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

#menu-button {
    height: 50px;
    width: 50px;
    padding: 0;
    background: none;
    border: none;
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s ease, fill 1s ease; /* Add transition */
}

#menu-button svg {
    fill: var(--primary-color);
    transition: fill 1s ease; /* Add transition */
}

#study-list {
    list-style-type: none;
    padding: 0;
    text-align: center;  /* Center align the text */
}

.study-session {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  /* Create three equal columns */
    gap: 10px;  /* Adjust the gap between columns */
    margin-bottom: 20px;  /* Space between sessions */
    justify-content: center;  /* Center the grid items */
}

.header { 
    font-weight: bold;  /* Bold header text */
    border-bottom: 2px solid var(--border-color);  /* Add a bottom border to the header */
    margin-bottom: 10px;  /* Space below the header */
}

.session-item {
    text-align: center;  /* Center align text within each column */
}

html.no-transition, body.no-transition, .container.no-transition, h1.no-transition, input.no-transition, .button.no-transition, #theme-switch.no-transition {
    transition: none !important;
}

#logout {
    height: 50px;
    width: 50px;
    padding: 0;
    background: none;
    border: none;
    position: fixed;
    top: 20px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s ease, fill 1s ease; /* Add transition */
}

#logout svg {
    fill: var(--primary-color);
    transition: fill 1s ease; /* Add transition */
}