:root {
    --text-color: Black;
    --background-color: white;
    --base-variant: #ffffff;
    --primary-color: #000000;
}

.darkmode{
    --text-color: white;
    --background-color: black;
    --base-variant:#000000;
    --primary-color: #ffffff;
}

body { /*defines the apperance of the body*/
    font-family: Arial, sans-serif;
    text-align: center;
    color: var(--text-color);
    background-color: var(--background-color);
}

form {
    margin-bottom: 20px;
}

input {
    margin: 5px;
}

a{
    position: absolute;
    right: 100px;
    top: 35px;
    color: var(--text-color);
}

#study-list {
    list-style-type: none;
    padding: 0;
}
#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}
#theme-switch svg{
    fill: var(--primary-color);
}
#theme-switch svg:last-child{
    display: none;
}
.darkmode #theme-switch svg:first-child{
    display: none;
}
.darkmode #theme-switch svg:last-child{
    display:block;
}